@model SINU.Models.Convocatoria

@{
    ViewBag.Title = "Convocatorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    @*<h4>Convocatoria</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrupoCarrOficio.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoCarrOficio.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modalidad.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modalidad.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodosInscripciones.IdPeriodoInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodosInscripciones.IdPeriodoInscripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin_Proceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin_Proceso)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdConvocatoria }) |
    @Html.ActionLink("Volver", "Index")
</p>
