<!--
    Aqui se decide si se coloca "Iniciar Sesión" o  "Cerrar Sesión" dependiendo si está conectado o no al sistema el usuario activo
    la ubicacion es al extremo derecho
-->

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right navMenu" >
            <li class="row pb-0" style="margin-bottom: -27px !important;">
                <i class="@ViewBag.IconoPerfil ml-3" style="color: deepskyblue; padding-top: 0.7rem !important;"></i>&ensp; @Html.ActionLink(" " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link d-iniline-flex" })
            </li> &ensp;
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @{
            if (!HttpContext.Current.Request.Path.Contains("Register"))
            {
                @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>*@
            }
            if (!HttpContext.Current.Request.Path.Contains("Login"))
            {
                <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: new { returnurl = HttpContext.Current.Request.Path.ToString() }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
            }
        }
    </ul>
}
