
@model SINU.Models.LoginViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Iniciar sesión";
}

<link href="~/Content/CssPostulante.css" rel="stylesheet" />
<style>
    .field-validation-error {
        color: #dc3545 !important
    }

        .field-validation-error span {
            float: none !important;
        }

    .form-control {
        border-bottom: 2px solid #00bfff !important;
    }
</style>
<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>
<div class="row text-center">

    <div class="col-md-6 offset-md-3 card shadow-sm pl-5 pr-5 pt-2">

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <b>@Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })</b>

                    <div class="input-group justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="color: white; background-color: #00bfff ;"><i class="fa fa-user"></i></span>
                        </div>

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <b> @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })</b>
                    <div class="input-group justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="color: white; background-color: #00bfff ;"><i class="fa fa-key"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control " })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="input-group justify-content-center">
                        <div>
                            @Html.MathCaptcha("Refrescar", "Ingrese el resultado aqui", "Este campo es requerido", true)

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="justify-content-center">
                        <input type="submit" value="Iniciar sesión" class="btn" style="color:white;background-color: #00bfff;" />
                    </div>
                </div>
                <p style=" margin-bottom: 0px !important;">
                    @Html.ActionLink("Registrarse como usuario nuevo", "Register", null, new { @class = "ml-3" })
                </p>
                @*<p style="  margin-bottom: 0px !important;">
                    @Html.ActionLink("Recuperar Cuenta", "RecuperarCuenta", null, new { @class = "ml-3" })
                </p>*@
                <p style=" margin-bottom: 0px !important;">
                    @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword", null, new { @class = "ml-3" })
                </p>
            }
            <br />
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">


    $(document).ready(function () {


        if ('@ViewBag.logueado' == "True") {
            $("#body").css("pointer-events", "none")/*.css("opacity", 0.8)*/;


            $.Anuncio("Usuario logueado, cierra la sesion actual, para iniciar  con otra cuenta.");
            $("#BTNModal").hide();
            $("#CaptchaInputText").val("").delay(4000).queue(function () {
                window.location.href = "../Home/Index";
            });

        };
        $("#CaptchaInputText").addClass("form-control").val("");
        $("#CaptchaInputText").next("br").remove();
        $("a[href='#CaptchaImage']").show();

        $('form').on('submit', async function (e) {
            if ($(this).valid()) {

                $.Cargando();
            }
        });
        if ('@ViewBag.mensaje' != "") {
            $.Anuncio('@ViewBag.mensaje');
        };

    });
</script>
}

