@model SINU.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}
<link href="~/Content/CssPostulante.css" rel="stylesheet" />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    <div class="row">

        <h3 class="offset-1">@ViewBag.Title</h3>

        <hr />
      
        <div class="jumbotron mb-0 p-3 pl-0 pr-0 pl-md-5 pr-md-5 pt-4 col col-10 offset-1" style="background-color: white; color: black; border: 1px solid #00000033">

            <h4>Formulario para cambiar contraseña</h4>
            <h6>Cuenta: @ViewBag.correo</h6>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-12 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group  mt-3">
                <div class="col-md-10">
                    <input type="submit" value="Cambiar contraseña" class="btn btn-success float-left" />
                </div>
            </div>
        </div>

    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}