@model IEnumerable<SINU.Models.ConsultaProgramada>
@*@using SINU.Models;*@

@{
    ViewBag.Title = "CONSULTAS";

    //List<ConsultaProgramada> Consulta = (new SINUEntities()).ConsultaProgramada.OrderBy(m => m.OrdenConsulta).ToList();
    //string referencia = "";
    //String activar = "";
}

<h2>@ViewBag.Title</h2>
<p>
        @Html.ActionLink("Create New", "Create")
    </p>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrdenConsulta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMenu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionConsulta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Controller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Action)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parametros)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenConsulta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionConsulta)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parametros)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdConsulta }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdConsulta })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdConsulta })
                    @Html.ActionLink("Abrir", "Details", new { id = item.IdConsulta })
                    @Html.ActionLink("ABRIR", item.Action, item.Controller)

                </td>

            </tr>
            }
        </tbody>
    </table>
<br />
@*<div class="container p-0">
    <div class="row">


        <nav class="col-sm-2 mr-3 navbar navbar1 navbar-expand-md  navbar-light ml-3 pl-2 oculto">

             <!-- Navbar links  --!>
            <div class="collapse navbar-collapse" id="TABDocumentacion">
                <ul class="nav nav-tabs nav-pills with-arrow lined  flex-sm-row text-left" id="myTab" role="tablist" style="border-bottom: 0px solid;">
                    @foreach (var item in Consulta)
                    {
                        referencia = "#Consulta" + item.IdConsulta.ToString();
                        activar = ((Int32)ViewBag.ActivarId) == item.IdConsulta ? " active " : "";
                        <li class="nav-item flex-md-fill bli">
                            <a class="nav-link text-uppercase font-weight-bold rounded-0 @activar atab" data-toggle="tab" href="@referencia" role="tab" aria-controls="XXXXX" aria-selected="false">
                                @item.NombreMenu
                            </a>
                        </li>
                    }


                </ul>
            </div>
        </nav>


        <div class="col-md-9 borderdiv1">
            <div class="tab-content TABMovil" id="TabDocumentacion">
                @foreach (var item in Consulta)
                {
                    referencia = "Consulta" + item.IdConsulta.ToString();
                    activar = ((Int32)ViewBag.ActivarId) == item.IdConsulta ? "show active" : "";

                    <div class="pos-f-t collapse tab-pane fade @activar tab-nav" id="@referencia">
                        @Html.Action(item.Action, item.Controller, null)
                    </div>
                }


            </div>
        </div>
         <!-- /.col-md-8  --!>
    </div>
</div>*@

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('table').DataTable();

        });
    </script>

}