
@model IEnumerable<SINU.Models.vInscriptosCantYTODASConvocatorias>

@{ ViewBag.Title = "Todas Las Convocatorias ";

    var TotConvoc = ((List<SINU.Models.vInscriptosCantYTODASConvocatorias>)Model).Count;
    //me tira un num que no es la cant de inscriptos     
    //var TotalINSC = ((List<SINU.Models.vInscriptosCantYTODASConvocatorias>)Model).Sum(m => m.CantInscriptos);
    var TotalINSC = ((List<SINU.Models.vInscriptosCantYTODASConvocatorias>)Model).Sum(m => m.CantInscriptos);
}



@if (ViewBag.ACTIVAS == 0)
{

    <span style="float:right">
        @Html.ActionLink("SOLO ACTIVAS", "TotalizarPorConvocatoriaActivas", "CallConsulta", new { @class = "btn btn-primary w-80  btn-success" })
    
    
    </span>
    
}
else
{
    @Html.ActionLink("ATRAS", "Index", "CallConsulta", new { id = ViewBag.ActivarId }, new { @class = "btn btn-primary w-80  btn-dark" })

}

<h2>
    @ViewBag.Title
</h2>

<p>
    <div class="alert alert-success text-dark" role="alert" style="background-color: #346691!important;color: white !important;">Total de Convocatorias: @TotConvoc  <span style="float:right">Inscriptos desde Etapa Documentación(<b>Con Carrera Oficio</b>)  : @TotalINSC</span></div>
</p>

<table class="table table-filters table-bordered table-light table-hover  " id="le-filters" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.IdConvocatoria)*@
                <label>N°Convocatoria</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IdModalidad)*@
                <label>Modalidad</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.NombreInst)*@
                <label>Nombre de la Institución</label>
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Fecha_Inicio_Proceso)*@
                <label>Inicio de Inscripcion</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Fin_Proceso)
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.CantInscriptos)*@
                <label>N° de Inscriptos</label>
            </th>
            <th class="noPrint">
                <label>Ver Datos</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdConvocatoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdModalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreInst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Inicio_Proceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Fin_Proceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantInscriptos)
                </td>

                <td>
                    <!-- Aqui usmos la Hamburguesa para ver más detalles llamando a otra pantalla-->
                    @Html.ActionLink(" ", "TotalesConvocatoriaDetalle", new { IdConvocatoria = item.IdConvocatoria }, new { @class = "fas fa-bars", @style = "color:#343a40" })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- ***********************************************************************-->
<!-- COPIAR TODO ESTE SCRIPT DE DATATABLE PARA TODAS LAS TABLAS DEL SISTEMA-->
<!-- ***********************************************************************-->
<!--Para establecer Formato de Tabla-->
<!-- Establecer la tabla  <table class="table table-filters" id="le-filters">-->
<!-- Agregar en las columnas que no deseo ordenar  <th class="no-sort"> -->
<!-- Agregar en las columnas que no deseo ordenar ni buscar  <th class="ni-o-ni-bu"> -->
<!-- Rodear la tr de las th con <thead> </thead>-->
<!-- Rodear el contenido de la tabla con <tbody>-->
@section Scripts {
   
}
