@model SINU.ViewModels.GrupoCarrOficiosvm

@{
    ViewBag.Title = "Grupo Carrera/Oficio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    @*<h4>GrupoCarrOficio</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdGrupoCarrOficio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdGrupoCarrOficio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal)
        </dd>
    </dl>

    <div><label class="alert-dark">Carreras/Oficios</label></div>

    <table class="table table-filters table-bordered table-light" id="le-filters" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Carreras)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Personal)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carreras)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarreraUoficio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Personal)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div><label class="alert-dark">Restricciones</label></div>
    <table class="table table-filters table-bordered table-light" id="le-filters" style="width:100%" title="Restricciones">
        <thead>
            <tr>

                <th>@Html.Label("Edad Mínima (Con Autorización)")</th>
                <th>@Html.Label("Edad Mínima")</th>
                <th>@Html.Label("Edad Máxima")</th>
                <th>@Html.Label("Edad a fecha")</th>
                <th>@Html.Label("Estado Civil")</th>
                @*<th>@Html.Label("Seleccionar")</th>*@
                <th>
                    @Html.Label("Altura Mínima Femenina")
                </th>
                <th>
                    @Html.Label("Altura Mínima Masculina")
                </th>
                <th>
                    @Html.Label("IMC Máximo")
                </th>
                <th>
                    @Html.Label("IMC Mínimo")
                </th>
</thead>
        <tbody>
            @foreach (var item in ViewBag.lstresGrupo as List<SINU.Models.vRestriccionesGrupo>)
            {
                if (Model.IdResGrupo == item.IdResGrupo)
                {
            <tr>
                <td>
                    @item.EdadMinCAutoriz
                </td>
                <td>
                    @item.EdadMin
                </td>
                <td>
                    @item.EdadMax
                </td>
                <td>
                    @item.Edad_a_fecha
                </td>
                <td>
                    @item.EstadoCivil
                </td>
                <td>
                    @item.AlturaMinF
                </td>
                <td>
                    @item.AlturaMinM
                </td>
                <td>
                    @item.IMC_max
                </td>
                <td>
                    @item.IMC_min
                </td>
            </tr>
                 }
            }
       
    </table>

</div>
<p >
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdGrupoCarrOficio },new {@class="btn btn-info" }) |
    @Html.ActionLink("Volver", "Index")
</p>

<!-- ***********************************************************************-->
<!-- COPIAR TODO ESTE SCRIPT DE DATATABLE PARA TODAS LAS TABLAS DEL SISTEMA-->
<!-- ***********************************************************************-->
<!--Para establecer Formato de Tabla-->
<!-- Establecer la tabla  <table class="table table-filters" id="le-filters">-->
<!-- Agregar en las columnas que no deseo ordenar  <th class="no-sort"> -->
<!-- Agregar en las columnas que no deseo ordenar ni buscar  <th class="ni-o-ni-bu"> -->
<!-- Rodear la tr de las th con <thead> </thead>-->
<!-- Rodear el contenido de la tabla con <tbody>-->
@section Scripts {
    <script type="text/javascript">
        //scrip que permite buscar por cualquier campo en la tabla para su uso requiere que tabla tenga la propiedad id=myTable
        $(document).ready(function () {
            $(".table-filters").DataTable({
                responsive: true,
                "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },

                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                },
                {
                    "targets": 'ni-o-ni-bu',
                    "searchable": false,
                    "orderable": false

                }]


            });

        });
    </script>

}
