@model SINU.ViewModels.AdministradorVm
<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
@{
    ViewBag.Title = "Período de Inscripción";
}
@*@section MenuPerfil{

        @Html.Partial("_MenuPerfilAdmin")
    }*@

<h4>Periodos de Inscripciones</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="alert alert-warning" role="alert">
            SI EXISTE SOLAPAMIENTO DE RANGOS DEBE MODIFICAR EL ACTUAL O CORREGIR/ELIMINAR LOS EXISTENTES QUE PROVOQUEN ERROR!
        </div>
        <hr />
        @* cambiamos el true por un false para mostrar arriba todos los mensajes *@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.PeriodosInscripcionesVm.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PeriodosInscripcionesVm.FechaInicio, new { @class = "form-control  text-left", @id = "datetimepicker1", @type = "text", @readOnly = true })
                @*@Html.ValidationMessageFor(m => m.PeriodosInscripcionesVm.FechaInicio, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PeriodosInscripcionesVm.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PeriodosInscripcionesVm.FechaFinal, new { @class = "form-control  text-left", @id = "datetimepicker2", @type = "text", @readOnly = true })
                @*@Html.ValidationMessageFor(m => m.PeriodosInscripcionesVm.FechaFinal,"", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.PeriodosInscripcionesVm.IdInstitucion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PeriodosInscripcionesVm.IdInstitucion, Model.Instituciones, "Seleccione una Opcion", new { @id = "IdInstitucion", @class = "form-control selectpicker", @style = "max-widht: 280px !iimportant" })
                @*@Html.ValidationMessageFor(m => m.PeriodosInscripcionesVm.IdInstitucion, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">
        //alterala validacion de la fechas
        //jQuery.validator.methods["date"] = function (value, element) { return true; };
        //var date = new Date();
        //date.setDate(date.getDate() - 1);
        //$('.datepicker').datepicker({
        //    autoclose: true,
        //    startDate: date,
        //});
        $(document).ready(function () {
            jQuery('#datetimepicker1').datetimepicker({
                timepicker:false,
                minDate: 0,
                format: 'd/m/Y',
                value: 'd/m/Y',
                mask:true
            });
            jQuery('#datetimepicker2').datetimepicker({
                timepicker:false,
                minDate: 0,
                format: 'd/m/Y',
                value: 'd/m/Y',
                mask:true
            });
            $.datetimepicker.setLocale('es')

        });
    </script>

}
