@model SINU.ViewModels.vContacto
<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Contacto";

    ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{

        @Html.Partial((String)@ViewBag.Menu);
    }*@
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<style>

    @@media screen and (max-width: 600px) {
        .bordererror {
            border-right: hidden !important;
            border-bottom: #67676773 2px solid;
        }
    }

    @@media screen and (min-width: 600px) {
        .bordererror {
            border-bottom: hidden !important;
            border-right: #67676773 2px solid;
        }
    }

    .text-center {
        text-align: center
    }

    .negro-sub {
        text-decoration: underline;
    }
</style>
<div class="jumbotronP" style="background-color:#08495f; color:white;">
    <h2 class="font-jumb">
        Contactos
    </h2>
    <br />
    <address style="font-size:large">
        <b>Mail de Contacto:</b> @Model.DPTOincorporacion.Email1 <br />
        <b>Direccion:</b> @Model.DPTOincorporacion.Direccion <br />
        <b>Piso:</b> @Model.DPTOincorporacion.Localidad<br />
        <b>Telefono:</b> @Model.DPTOincorporacion.Telefono

    </address>
</div>


<div class="row" id="Card-Contacto">
    @{ int num = 1; }

    @foreach (var item in Model.listoficinas)
    {

        <div class="col-md-4 col-sm-6  d-flex mb-3">
            <div class="card d-block" style="border-radius: 4px; border: 2px solid #08495f; width: inherit;">
                <div class="p-2 d-flex flex-column justify-content-center align-items-center" style="background-color:#08495f; color:white; height:30% !important; vertical-align:middle">
                    <h5 class="text-center align-middle"><b style="font-size:1.5rem">#@num </b>@item.Nombre</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title"><b>Dirección:  </b>@item.Provincia, @item.Localidad, @item.Direccion</h6>
                    <h6 class="card-title"><b>Email:  </b><a href="mailto:@item.Email1">@item.Email1</a> - @Html.Raw(item.Email2 == "" ? "" : "<a href = 'mailto:" + @item.Email2 + "'> " + @item.Email2 + " </a>")</h6>
                    <h6 class="card-title"><b>Teléfono:  </b>@item.Telefono</h6>
                    <h6 class="card-title"><b>Celular:  </b>@(item.Celular=="" ?"  -----  ":item.Celular)</h6>


                </div>
            </div>
        </div>
        num = num + 1;
    }

</div>



