@model IEnumerable<SINU.Models.vPeriodosInscrip>
@{
    ViewBag.Title = "Sistema Unificado de Inscripción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    body {
        padding-top: 0px;
    }

    .tamaño-card {
        max-width: 40% !important;
    }

    @@media screen and (max-width: 601px) {
        header {
            align-content: center;
            margin-left: -5% !important;
            margin-right: -5% !important;
        }

        .tamaño-card {
            max-width: initial !important
        }
    }

    .navbar {
        background-color: #1717178a !important
    }

    .carousel-item {
        height: 50vh;
        min-height: 200px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .portfolio-item {
        /*margin-bottom: 30px;*/
    }

    @@media screen and (min-width: 601px) {
        .tcard {
            font-size: 30px;
        }

        .back-color {
            background-color: #1717178a !important;
        }

        titulo {
            font-size: 60px;
        }

        .card1 {
            flex: none !important;
        }
    }

    @@media screen and (min-width: 731px) {
        .tcard {
            font-size: 40px;
        }

        titulo {
            font-size: 90px;
        }
    }

    @@media screen and (max-width: 600px) {
        titulo {
            font-size: 50px;
            text-align: center;
        }

        .tcard {
            font-size: 25px;
        }

        .back-color {
            background-color: #000000d4 !important
        }

        .card1 {
            width: 100% !important
        }
    }

    .imgi {
        margin: 3%;
        width: 40%;
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
        background-color: white
    }



    .content-title {
        display: inline-block;
        position: absolute;
        color: white;
        background-color: #00000082;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card1 {
        margin-bottom: 35px !important;
        align-items: center;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
        background-color: #052240;
        color: white;
        width: 40%
    }

    .nav-link:hover {
        color: #a7a7a7 !important
    }

    .centrar {
        margin: auto;
    }

    .nav-link {
        color: white !important;
    }

    .divcontainer {
        position: relative;
    }

    .divabajo {
        position: absolute;
        bottom: 5px;
    }

    .divarriba {
        height: 8rem;
    }
</style>
<header class="mb-2" style="margin-left: -25%;margin-right: -25%; margin-top:-50px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox" style="display: flex;justify-content: center;align-items: center;">


            <!-- Slide One - Set the background image for this slide in the line below -->
            @{
                int index = 0;
                foreach (var img in ViewBag.listaimg)
                {

                    <div class="carousel-item @(index==0?"active":"") " style="background-image: url('../../Imagenes/@img');">
                        <div class="carousel-caption d-none d-lg-block">
                        </div>
                    </div>
                    index++;
                }
            }
            <!-- Slide One - Set the background image for this slide in the line below -->
            <!--<div class="carousel-item active" style="        background-image: url('../../Imagenes/carrucel1.jpg');">
                <div class="carousel-caption d-none d-lg-block">
                </div>
            </div>-->
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <!--<div class="carousel-item" style="background-image: url('../../Imagenes/carrucel2.jpg')">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>-->
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <!--<div class="carousel-item" style="background-image: url('../../Imagenes/carrucel3.jpg')">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>-->


            <div class="content-title">
                <titulo class=" ">Armada Argentina</titulo>
            </div>

        </div>
    </div>
</header>


<div class="container ">
    <div class="card-deck mb-4 text-center">
        <div class="card mb-4 " style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 15px 0 rgba(0, 0, 0, 0.17);">
            <div class="card-header" style="color: white;border-radius: 4px 4px 0px 0px;background-color: #052240;">
                <h2>Bienvenido</h2>
            </div>
            <div class="card-body">
                <p class="lead justify-content-center">
                    <b>@ViewBag.TextoPAGINAPRINCIPAL</b>
                </p>
                <a class="btn btn-primary btn-lg" target="_blank" href="https://www.incorporacion.armada.mil.ar" role="button">Mas Información</a>
            </div>
        </div>
    </div>



    @if (Model.Count() == 0)
    {
        <hr /><br />
        <div class="card-deck mb-4 text-center">
            <div class="card mb-4 " style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 15px 0 rgba(0, 0, 0, 0.17);color: white;border-radius: 4px 4px 0px 0px;background-color: #052240;">
                <div class="card-body" style="">
                    <h2>Actualmente no hay Convocatorias para las distintas Escuelas de Formación.</h2>

                    <p class="lead justify-content-center">
                        <b></b>
                    </p>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card-deck justify-content-center">
            @{
                int[] ordenID = new[] { 9, 2, 10, 4, 6, 11 };
                List<SINU.Models.vPeriodosInscrip>
                    Periodos1 = Model.ToList();


                foreach (var item in ordenID)
                {
                    var inscripINST = Periodos1.Where(m => m.IdInstitucion == item).OrderBy(m => m.FechaInicio).ToList();
                    if (inscripINST.Count() > 0)
                    {
                        <div class="card card1" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 15px 0 rgba(0, 0, 0, 0.17)">
                            @{string imagen1 = item + ".png"; }
                            <img class="card-img imgi" src="~/Imagenes/@imagen1" alt="Card image cap" style="">
                            <div class="card-header container-fluid">
                                <h3 class="my-0 font-weight-normal ">@inscripINST[0].Titulo</h3><h4 style="color: #969595;">@inscripINST[0].NombreInst</h4>
                                <h5 style="color:#969595;">@inscripINST[0].Tooltip</h5>
                            </div>

                            <div class="card-body container-fluid divcontainer">
                                @foreach (var item2 in inscripINST)
                                {<div @(User.Identity.IsAuthenticated ? "" : "class=divarriba")>

                                        <h5>Inicio @item2.FechaInicio.ToString("dd/MM/yyyy")</h5>
                                        <h5>Cierre @item2.FechaFinal.ToString("dd/MM/yyyy")</h5>
                                    </div>
                                    if (!User.Identity.IsAuthenticated)
                                    {
                                        <div class="row card-footer lead justify-content-center divabajo w-100">
                                            @Html.ActionLink("Inscribirse", "Register", "Account", new { idInstitucion = item2.IdInstitucion/*, otroParametro=Valor*/ }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })

                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    }
                }

            }
        </div>
    }





    <!-- /.row -->
    <hr>

    <!-- Call to Action Section -->
    @if (User.Identity.IsAuthenticated & SINU.Models.Func.CorrespondeMenu() == "_MenuPerfilPostu")
    {
        <div class="row lead justify-content-center mb-4">
            <div class="col-" data-toggle="tooltip" title="Si usted ya se encuentra registrado por favor inicie sesion.">
                <a>@Html.ActionLink("Proceso de Inscripcion", "Index", "Postulante", null, htmlAttributes: new { @class = "btn btn-lg btn-secondary btn-block" })</a>
            </div>
        </div>
    }

    <div class="" style="background-color:white;height: 4%;">

        <h4>Redes Sociales</h4>
        <div class="row">
                     
            <div class="col-md-6 col-sm-12">

                <h5>Departamento Incorporaciones</h5>
                <ul class="list-inline" style="font-size:2rem">
                    <li class="list-inline-item"><a class="fab fa-facebook" href="http://www.facebook.com/ingreso.alaarmada.9" target="_blank"></a></li>
                    <li class="list-inline-item"><a class="fab fa-instagram" href="http://www.instagram.com/ingreso.armada" target="_blank"></a></li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="d-flex flex-md-row-reverse">
                    <h5>Armada Argentina</h5>
                </div>

                <div class="d-flex flex-md-row-reverse">
                    <ul class="list-inline" style="font-size:2rem">
                        <li class="list-inline-item"><a class="fab fa-facebook" href="http://www.facebook.com/ArmadaArg" target="_blank"></a></li>
                        <li class="list-inline-item"><a class="fab fa-youtube" href="http://www.youtube.com/channel/UCn7ifvLLkD0zX818RNGp8EA" target="_blank"></a></li>
                        <li class="list-inline-item"><a class="fab fa-instagram" href="http://www.instagram.com/armadaargentinaof" target="_blank"></a></li>
                        <li class="list-inline-item"><a class="fab fa-twitter" href="https://twitter.com/armada_arg" target="_blank"></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 5000
        })
    </script>
}
