@model SINU.ViewModels.DomicilioVM

@*@{
        ViewBag.Title = "Domicilio";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@using (Ajax.BeginForm("Domicilio", "Postulante", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "Exito(data,status,xhr)",
        OnFailure = "Falla",
//LoadingElementId = "carga",
//LoadingElementDuration = 1000,
//UpdateTargetId = "resultTarget"
},
    new { id = "BeginFormDomicilio" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h2>Domicilio que figura en el DNI:</h2>
            <br />
            <div class="form-group row">
                @Html.HiddenFor(m => m.vPersona_DomicilioVM.IdPersona)
                @Html.HiddenFor(model => model.vPersona_DomicilioVM.IdDomicilioDNI)
                @Html.HiddenFor(model => model.vPersona_DomicilioVM.IdDomicilioActual)

                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.Calle, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.Calle, new { htmlAttributes = new { @class = "form-control ", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.Calle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.Numero, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.Numero, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.Numero, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.Piso, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.Piso, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.Piso, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.Unidad, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.Unidad, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.Unidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(m => m.vPersona_DomicilioVM.IdPais, new { @class = "col-md-12 control-label" })
                        <div class="col-md-10">

                            @Html.DropDownListFor(model => model.vPersona_DomicilioVM.IdPais, new SelectList(Model.sp_vPaises_ResultVM, "CODIGO", "DESCRIPCION"), "Seleccione un Pais", htmlAttributes: new { @class = "form-control combobox", @id = "ListaPaisR" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.IdPais, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.vPersona_DomicilioVM.Provincia, new { @class = "col-md-12 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.vPersona_DomicilioVM.TBoxProvincia, new { @class = "form-control Real", @id = "ProvinciaR" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.TBoxProvincia, "", new { @class = "text-danger Real" })


                            @* el "DropdownlistFor" se reemplaza por un "TextBoxFor" en el caso de que se eliga un pais distinto a "ARGENTINA" *@
                            @Html.DropDownListFor(model => model.vPersona_DomicilioVM.Provincia, Model.provincias, "Seleccione una Provincia", htmlAttributes: new { @class = "form-control combobox RealAR", @id = "ComboProvinciaR" })
                            <div class="h-100"></div>
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.Provincia, "", new { @class = "text-danger RealAR" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.vPersona_DomicilioVM.Localidad, new { @class = "col-md-12 control-label" })
                        <div class="col-md-10">

                            @Html.TextBoxFor(model => model.vPersona_DomicilioVM.Localidad, new { @class = "form-control Real", @id = "LocalidadR" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.Localidad, "", new { @class = "text-danger Real" })

                            @* el "DropdownlistFor" se reemplaza por un "TextBoxFor" en el caso de que se eliga un pais distinto a "ARGENTINA" *@
                            @Html.DropDownListFor(model => model.vPersona_DomicilioVM.IdLocalidad, new SelectList(Model.vProvincia_Depto_LocalidadREALVM, "IdLocalidad", "Localidad"), "Seleccione una Localidad", htmlAttributes: new { @class = "form-control combobox RealAR", @id = "ComboLocalidadR" })
                            <div class="h-100"></div>
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.IdLocalidad, "", new { @class = "text-danger RealAR" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.CODIGO_POSTAL, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.vPersona_DomicilioVM.CODIGO_POSTAL, new { @class = "form-control", @id = "CPR", @readonly = true, @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.CODIGO_POSTAL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <br />
            </div>
            <h2>Domicilio donde vive actualmente:</h2>
            <br />
            <div class="form-group row ">


                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.EventualCalle, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.EventualCalle, new { htmlAttributes = new { @class = "form-control  ", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualCalle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.EventualNumero, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.EventualNumero, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualNumero, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.EventualPiso, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.EventualPiso, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualPiso, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.EventualUnidad, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vPersona_DomicilioVM.EventualUnidad, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualUnidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(m => m.vPersona_DomicilioVM.EventualPais, new { @class = "col-md-12 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.vPersona_DomicilioVM.EventualIdPais, new SelectList(Model.sp_vPaises_ResultVM, "CODIGO", "DESCRIPCION"), null, htmlAttributes: new { @class = "form-control combobox", @id = "ListaPaisE" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualPais, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.vPersona_DomicilioVM.EventualProvincia, new { @class = "col-md-12 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.vPersona_DomicilioVM.TBoxEventualProvincia, new { @class = "form-control Eventual", @id = "ProvinciaE" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.TBoxEventualProvincia, "", new { @class = "text-danger Eventual" })

                            @Html.DropDownListFor(model => model.vPersona_DomicilioVM.EventualProvincia, Model.provincias, "Seleccione una Provincia", htmlAttributes: new { @class = "form-control combobox EventualAR", @id = "ComboProvinciaE" })
                            <div class="h-100"></div>
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualProvincia, "", new { @class = "text-danger EventualAR" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.vPersona_DomicilioVM.EventualLocalidad, new { @class = "col-md-12 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.vPersona_DomicilioVM.EventualLocalidad, new { @class = "form-control Eventual", @id = "LocalidadE" })
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualLocalidad, "", new { @class = "text-danger Eventual" })

                            @Html.DropDownListFor(model => model.vPersona_DomicilioVM.EventualIdLocalidad, new SelectList(Model.vProvincia_Depto_LocalidadEVENTUALVM, "IdLocalidad", "Localidad"), "Seleccione una Localidad", htmlAttributes: new { @class = "form-control combobox EventualAR", @id = "ComboLocalidadE" })
                            <div class="h-100"></div>
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualIdLocalidad, "", new { @class = "text-danger EventualAR" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vPersona_DomicilioVM.EventualCodigo_Postal, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.vPersona_DomicilioVM.EventualCodigo_Postal, new { @class = "form-control", @id = "CPE", @readonly = true, @autocomplete = "off" })
                            <div class="h-100"></div>
                            @Html.ValidationMessageFor(model => model.vPersona_DomicilioVM.EventualCodigo_Postal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <br />
            </div>
            @{ bool viajo = Model.PostulanteViajeListaVM.Count > 0; }

            <h2 class="d-inline-flex FormViajeExt">
                Viajes al Exterior:
            </h2>
            <div class="form-group d-inline-flex FormViajeExt">
                <div class="col-md-12" id="RadioBTViajes">

                    <h5 class="d-inline-flex">Si</h5> <input @(viajo ? "checked='checked'" : "" ) id="Viaje" name="Viaje" type="radio" value="si" />&ensp;

                    <h5 class="d-inline-flex">No</h5> <input @(!viajo ? "checked='checked'" : "" ) name="Viaje" type="radio" value="no" id="noext" />

                </div>
            </div>

            <h6 class="BTAcciones FormViajeExt">En caso de haber realizado viaje/s al exterior, debera informar los mismos.</h6>
            
            <div class="form-group row FormViajeExt" >
                <div class="col-md-6 BTAcciones">


                    <div class="form-group ViajeExt">
                        @Html.Label("Pais", new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("PaisViaje", (SelectList)ViewBag.Paises1, "Seleccione un Pais", htmlAttributes: new { @class = "combobox form-control", @id = "IDpais" })
                        </div>
                    </div>
                    <div class="form-group row ViajeExt">
                        <div class="col-8 col-md-6 ">
                            @Html.Label("Fecha de Viaje", new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.TextBox("{0:dd/MM/yyyy}", null, new { @class = "form-control datepicker ", @readonly = true, @placeholder = " dd/mm/aaaa", @id = "FechaViaje" })
                            </div>
                        </div>
                        <div class="col-4 col-md-2 row align-content-center">
                            <div class=" col-12 h-50">   </div>
                            <input type="button" name="agregar" value="Agregar" class="btn btn-success d-block extviaje " id="GuardarExtViaje" />
                        </div>
                    </div>


                   
                </div>
                <div class="col-md-6">
                    <br />
                    <div class="form-group ViajeExt">


                        <ul class="list-group col-md-8" id="listaviajes">
                            @if (Model.PostulanteViajeListaVM.Count == 0)
                            {
                                <li class="list-group-item pb-0" id="livacio" style="border:0px solid !important"><i class="fa fa-map-marker-alt" style='color:#007bff;'></i> ------------------- </li>
                            }


                            @foreach (var viaje in Model.PostulanteViajeListaVM)
                            {
                                <li class="list-group-item pb-0" style="border:0px solid !important" idviaje="@viaje.Value"><i class="fa fa-map-marker-alt"  style='color:#007bff;'></i> @viaje.Text <button type="button" class="BTAcciones eliminaviaje extviaje fa fa-times btn pr-0" style="  color: red;cursor: pointer;background-color: #fff0; padding-bottom: 7px;"></button></li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

            <div class="form-group pl-3 BTAcciones">
                <input type="submit" value="Guadar Datos" class="btn btn-success" placeholder="" />
            </div>


        </div>
    </div>
}

