@model SINU.Models.vEntrevistaLugarFechaUltInscripc
    <div class=" row col-12" style="padding-left: 0px;padding-right: 0px;margin-right: 0px;margin-left: 0px;right:0px">
        <div class="col col-md-6 col-sm-12">
            <h4>Lugar y Fecha:</h4>
        </div>
        @{
            // ViewBag.VolverDB 
            // En caso de que ViewBag.VolverDB sea true y el usuario actual sea un Postulante habilito el boton para volver a la carga de datos basicos
            if (ViewBag.VolverDB && HttpContext.Current.User.IsInRole("Postulante"))
            {
                <div class="col col-md-6 col-sm-12 align-content-end justify-content-center">
                    @Html.ActionLink("Volver a la etapa anterior", "VolverDatosBasicos", new { idPostulante = Model.IdPersona, idInscripcion = Model.IdInscripcion }, new { @class = "btn btn-info col-md-6 col-sm-12 float-right", @id = "volverDB", @onClick = "$.Cargando()" })
                </div>
            }
        }

    </div>
    <br />

@if (ViewBag.FechaAsisgnada)
{
    <div class="jumbotron mb-0" style="background-color: #08495f; color:white">
        <p class="text-justify"><h5>Delegación Naval: <b>@Model.Nombre</b> </h5></p>
        <h6>Dirección: <b>@Model.Provincia, @Model.Localidad, @Model.Direccion</b></h6>
        <h6>Telefono: <b>@Model.Telefono</b></h6>
        @if (Model.Celular != null)
        {
            <h6>Celular: <b>@Model.Celular</b></h6>
        }
        <h6> Fecha y Hora: @Model.FechaEntrevista.Value.ToString("dd/MM/yyyy', Hs:' HH:mm") </h6>
        <h5>Estado de Entrevista: <b style="color:yellow">@ViewBag.EstadoEntre </b></h5>
    </div>
    <hr />
    <div class="jumbotron " style="background-color: #08495f; color:white" id="MensajedeConsideraciones">
        <h6><b>@ViewBag.Considere[0]</b></h6>
        <hr />
        <h6>@ViewBag.Considere[1]</h6>
    </div>

}
else
{
    <div class="jumbotron mb-0" style="background-color: #08495f; color:white">
        <h6>Se le informara via correo cuando le hayan asignado una fecha de entrevista, solicitamos este atento.</h6>
        <h6>Por Consultas comunicarse con la Delegación seleccionada. </h6>
        <p class="text-justify"><h5>Delegación Naval: <b>@Model.Nombre</b> </h5></p>
        <h6>Dirección: <b>@Model.Provincia, @Model.Localidad, @Model.Direccion</b></h6>
        <h6>Telefono: <b>@Model.Telefono</b></h6>
        <h5>Estado de Entrevista: <b style="color:yellow">@ViewBag.EstadoEntre </b></h5>
    </div>
}
