@model IEnumerable<SINU.Models.vPeriodosInscrip>

@{
    ViewBag.Title = "InscripConvo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media screen and (min-width: 601px) {
        .tcard {
            font-size: 30px;
        }

        .back-color {
            background-color: #1717178a !important;
        }

        titulo {
            font-size: 50px;
        }

        .card1 {
            flex: none !important;
        }
    }

    @@media screen and (min-width: 731px) {
        .tcard {
            font-size: 40px;
        }

        titulo {
            font-size: 90px;
        }
    }

    @@media screen and (max-width: 600px) {
        titulo {
            font-size: 50px;
            text-align: center;
        }

        .tcard {
            font-size: 25px;
        }

        .back-color {
            background-color: #000000d4 !important
        }

        .card1 {
            width: 100% !important
        }
    }

    .imgi {
        margin: 3%;
        width: 35%;
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
        background-color: white
    }



    .content-title {
        display: inline-block;
        position: absolute;
        color: white;
        background-color: #00000082;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card1 {
        margin-bottom: 35px !important;
        align-items: center;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
        background-color: #052240;
        color: white;
        width: 40%
    }

    .nav-link:hover {
        color: #a7a7a7 !important
    }

    .centrar {
        margin: auto;
    }

    .nav-link {
        color: white !important;
    }
</style>
<div class="text-center" style="margin-bottom:4rem">
    <h1>Convocatorias Abiertas</h1>

    <h4>
        Deberas elegir en cual de las siguientes convocatorias deseas inscribirte. Recorda leer las distintas guias de ingreso.
    </h4>
    <br />
    <button class="btn btn-info btn-lg " style="margin-left:1rem" onclick="window.history.back()" id=""><b>Volver a mi ultima Inscripción</b></button>

</div>
<div class="card-deck justify-content-center">
    @{
        int[] ordenID = new[] { 9, 2, 10, 4, 6 };
        List<SINU.Models.vPeriodosInscrip> Periodos1 = Model.ToList();
        foreach (var item in ordenID)
        {
            var inscripINST = Periodos1.Where(m => m.IdInstitucion == item).OrderBy(m => m.FechaInicio).ToList();
            if (inscripINST.Count() > 0)
            {
                <div class="card card1" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 15px 0 rgba(0, 0, 0, 0.17)">
                    @{string imagen1 = item + ".png"; }
                    <img class="card-img imgi" src="~/Imagenes/@imagen1" alt="Card image cap" style="">
                    <div class="card-header container-fluid">
                        <h3 class="my-0 font-weight-normal ">@inscripINST[0].Titulo @inscripINST[0].NombreInst</h3>
                    </div>

                    <div class="card-body container-fluid">
                        @foreach (var item2 in inscripINST)
                        {
                            <h5>Inicio @item2.FechaInicio.ToString("dd/MM/yyyy")</h5>
                            <h5>Cierre @item2.FechaFinal.ToString("dd/MM/yyyy")</h5>

                            <div class="row card-footer lead justify-content-center">

                                @Html.ActionLink("Inscribirse", "InscriNueva", "Postulante", new { ID_postulante = ViewBag.idpostu, id_institucion = item2.IdInstitucion }, htmlAttributes: new { @class = "btn btn-primary btn-lg load-submit" })

                            </div>

                        }
                    </div>
                </div>
            }
        }

    }

</div>

