@model SINU.Models.CarreraOficio

@{
    ViewBag.Title = "Carrera/Oficio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Registro</h2>
@if (ViewBag.Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(ViewBag.Mensaje)
    </div>

}
else
{
    <div class="alert alert-warning" role="alert">
        Esta a punto de eliminar un Registro. ¿Está seguro?.
    </div>

}
<div>
    @*<h4>CarreraOficio</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarreraUoficio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarreraUoficio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="@( ViewBag.Mensaje != ""?"button":"submit")" value="Eliminar" class="btn btn-danger" @( ViewBag.Mensaje != ""?"disabled":"") /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
