@model SINU.Models.Delegacion_EstablecExamen

@{
    ViewBag.Title = "Delete";
    //Layout = "~/Views/Shared/_MenuPerfilAdmin.cshtml";
}

<h2>Eliminar Asignación</h2>

<div class="alert alert-warning" role="alert">Esta por eliminar la asignación de un Establecimiento de Examen a una Oficina/Delegación</div>   
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Establecimiento de Examen:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstablecimientoRindeExamen.Nombre)
            </dd>

            <dt>
                @Html.Label("Oficina/Delegación:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OficinasYDelegaciones.Nombre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Volver a la lista", "Index")
            </div>
        }
    </div>
