@model IEnumerable<SINU.Models.vEntrevistaLugarFechaUltInscripc>
@*@{
        //ViewBag.Title = "AsignarFechaVarios";

    }*@

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
@using (Ajax.BeginForm("AsignarFechaVariosEntrevista", "Delegacion", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "Exito(data,status,xhr)",
        OnFailure = "Falla",
        LoadingElementId = "carga",
//LoadingElementDuration = 1000,
//UpdateTargetId = "resultTarget"
},
    new { id = "BeginFormAsignarFechaVarios" }))
{
    @*@using (Html.BeginForm("AsignarFechaVarios", "Delegacion"))
        {*@
    @Html.AntiForgeryToken()

    @*<h2 class="text-center">Asignar fecha ha varios Postulante</h2>*@
    <table class="table table-filters table-bordered table-light text-center" id="le-filters" style="width:100%">
        <thead>
            <tr>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Etapa)
                </th>
                <th class="secondary">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="ni-o-ni-bu">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Etapa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Estado)
                    </td>
                    <td>
                        <input name="Select" type="checkbox" value="@item.IdInscripcion" id="myCheck" />
                    </td>
                </tr>
            }

        </tbody>

    </table>
    <br />
    <form>
        <div class="card" style="background-color:gainsboro">
            <div class="card-body">
                <div class="container">
                    <h1 class="display-4">Asignar fecha a varios Postulante</h1>
                    <p class="lead">Seleccione varios postulantes y determine una fecha de entrevista</p><br />
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Fecha de Entrevista:</label><br />

                                @Html.TextBox("Fecha", null, "{0:dd/MM/yyyy HH:mm }", new { @class = "form-control  text-center", @id = "datetimepicker", @readonly = true, @required = "required" })

                            </div>
                            @*<div class="form-group">
                            <label for="recipient-name" class="col-form-label">
                                lugar de Presentacion: @Html.DropDownListFor(m => m.LugarPresentacion, Model.LugarPresentacion, "---Seleccione la corresp ---", htmlAttributes: new { @id = "LugarExamen", @class = "form-control selectpicker" })
                            </label>

                        </div>*@
                        </div>
                        <div class="col-md-6" id="AvisoFecha" hidden>
                            <div class="alert alert-danger mt-4">
                                <h6 class="font-weight-bold">Asigne una fecha de Entrevista!!!</h6>
                            </div>
                        </div>
                        @*<div class="col-md-6 ">
                        <div class="form-group">
                            <div id="DatosDelegacion" class="form-group control-label" hidden>
                                <h4 class="text-center">Datos del Lugar</h4>
                                @Html.Label("Jurisdiccion , localidad y Departamento", new { @class = "col-md-6 control-label" })
                                <p id="Direccion" class="control-label col"><b>asdasda</b></p>
                                @Html.Label("Nombre Del Lugar", new { @class = "col-md-6 control-label" })
                                <p id="Telefono" class="control-label col"><b>asdasda</b></p>
                                @Html.Label("Direccion", new { @class = "col-md-6 control-label" })
                                <p id="Celular" class="control-label col"><b>asdasda</b></p>
                            </div>
                        </div>
                    </div>*@
                    </div>
                    <div class="row float-lg-right float-md-right float-sm-none">
                            <div >
                                @Html.ActionLink("Cerrar", "Index", new { @class = "btn btn-dark  btn-lg " })
                            </div>
                            <div class="col-1"></div>
                            <div >
                                <input type="submit" value="Asignar" id="IdAsignar" class="btn btn-primary btn-lg" />
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery.js"></script>*@
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".table-filters").DataTable({

                responsive: true,
                "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                },
                {
                    "targets": 'ni-o-ni-bu',
                    "searchable": false,
                    "orderable": false
                }]

            });

            $(".datepicker").datepicker({
                format: "dd/mm/yyyy",
                language: "es",
                autoclose: true,
                startView: "days",
                startDate: "Today"
            });
              jQuery('#datetimepicker').datetimepicker({
                 minDate: 0,
                format: 'd/m/y H:m',
                value: 'd/m/y H:m',
            });
            $.datetimepicker.setLocale('es')
            var ModelListado = '@ViewBag.Listado';
            if (ModelListado == 0) {
                $("#IdAsignar").attr("disabled", true)
            }
            else {
                $("#IdAsignar").attr("disabled", false)

            }
            jQuery('#datetimepicker').val("");


           
             $('#BeginFormAsignarFechaVarios').on('submit', function () {
               
                if (jQuery('#datetimepicker').val() == '') {
                    jQuery('#datetimepicker').focus();
                    $("#AvisoFecha").removeAttr('hidden');
                    return false;
                };
            })
        });
        function Exito(data,status,xhr) {
            if (data.success) {
                location.reload(true);
            }
            if (data.success == false) {
                //$("#modal3").modal('show');
                $.Anuncio(data.msg);
            }
        }
    </script>
}
