@model IEnumerable<SINU.Models.vDataProblemaEncontrado>
@{
    Layout = null;
}

<div class="form-group" id="divTABLE">

    <table id="TablaProblema" data-CUD="DataProblema" data-URL="ListaProblema" data-ELI="EliminaIDIO" data-Controller="Delegacion" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th hidden>IdDataVerificacion</th>
                <th hidden>IdPostulantePersona</th>
                <th hidden>IdDataProblemaEncontrado</th>
                <th >@Html.DisplayNameFor(m => m.DataVerificacion)</th>
                <th>@Html.DisplayNameFor(m => m.Comentario)</th>
                <th hidden>@Html.DisplayNameFor(m => m.Apellido_Y_Nombres)</th>
                <th hidden>@Html.DisplayNameFor(m => m.DNI)</th>
                <th>
                    @Html.Label("Opciones")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td hidden>@Html.DisplayFor(modelItem => item.IdDataVerificacion)</td>
                <td hidden>@Html.DisplayFor(modelItem => item.IdPostulantePersona)</td>
                <td hidden>@Html.DisplayFor(modelItem => item.IdDataProblemaEncontrado)</td>

                <td>@Html.DisplayFor(modelItem => item.DataVerificacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Comentario)</td>
                <td hidden>@Html.DisplayFor(modelItem => item.Apellido_Y_Nombres)</td>
                <td hidden>@Html.DisplayFor(modelItem => item.DNI)</td>
                <td class="row justify-content-center align-items-center">
                    <div class="BTMuestraTable">
                        <button class="Agrega btn btn-success fas fa-pencil-alt" data-ID="@item.IdDataProblemaEncontrado"></button>
                    </div>
                    <div class="d-inline">
                                | 
                        @Ajax.ActionLink(" ", "DelDataProblema", new { ID = item.IdDataProblemaEncontrado }, new AjaxOptions
                          {
                            HttpMethod = "POST",
                            OnSuccess = "Exito(data,status,xhr)",
                            OnFailure = "Falla",
                          }, new { @id = "EliminaEST", @class = "btn btn-danger fas fa-trash-alt" })
                    </div>
                </td>   

            </tr>
            }
        </tbody>

    </table>
    <div class="BTMuestraTable">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-lg fas fa-plus Nuevo_REG" data-toggle="modal" data-target="#ModalEIA" id="Nuevo_REG" data-IdTabla="TablaProblema">
            Agregar
        </button>
    </div>
</div>
