@model SINU.ViewModels.PresentaciondelPostulante
@{ 
    ViewBag.Title = Model.DetalleInscripcion.FechaRindeExamen != null ? "Reasignar Fecha de Presentación" : "Asignar Fecha de Presentación";
}


<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form justify-content-xl-center" style="align-content:center;">*@
        <h4 class="font-weight-bold" style="text-align:center">@(Model.DetalleInscripcion.FechaRindeExamen!=null?"Reasignar Fecha de Presentación":"Asignar Fecha de Presentación" )</h4>


        <div class="card" style=" text-align: -webkit-center;">
            <div class="card-header">
                <h5 class="font-weight-bold" style="text-align:left"><u>N° de pre-inscripcion:@Model.DetalleInscripcion.IdInscripcion</u></h5>
            </div>
            <div class="card-body">
                <br />
                <input type="hidden" name="Id" value="@Model.DetalleInscripcion.IdInscripcion" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DetalleInscripcion.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col">
                            @Html.EditorFor(model => model.DetalleInscripcion.Apellido, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.DetalleInscripcion.Apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DetalleInscripcion.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col">
                            @Html.EditorFor(model => model.DetalleInscripcion.Nombres, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.DetalleInscripcion.Nombres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DetalleInscripcion.Genero, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DetalleInscripcion.Genero, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.DetalleInscripcion.Genero, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DetalleInscripcion.DNI, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DetalleInscripcion.DNI, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.DetalleInscripcion.DNI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DetalleInscripcion.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DetalleInscripcion.Celular, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.DetalleInscripcion.Celular, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DetalleInscripcion.Preferencia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DetalleInscripcion.Preferencia, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.DetalleInscripcion.Preferencia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <label for="recipient-name" class="col-form-label">Fecha de Presentacion:</label><br />
                            @Html.TextBox("Fecha", "", "{0:dd/MM/yyyy HH:mm }", new { @class = "form-control  text-center", @id = "datetimepicker", @readonly = true, @required = "required" })

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-warning mt-4">
                            <h6 class="font-weight-bold">@(Model.DetalleInscripcion.FechaRindeExamen!=null?"Reasigne una fecha de presentación al postulante":"Asigne una fecha de presentación al postulante") </h6>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <label for="recipient-name" class="col-form-label">
                                lugar de Presentacion: @Html.DropDownListFor(m => m.LugarPresentacion, Model.LugarPresentacion, "---Seleccione la corresp ---", htmlAttributes: new { @id = "LugarExamen", @class = "form-control selectpicker" })
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-warning mt-4">
                            <h6 class="font-weight-bold">Asigne un lugar de presentacion al Postulante</h6>
                        </div>
                    </div>
                </div>
                    
                
                <br />
                <div class="form-group">
                    <div id="DatosDelegacion" class="form-group control-label" hidden>
                        <h4 class="text-center">Datos del Lugar</h4>
                        @Html.Label("Jurisdiccion , localidad y Departamento", new { @class = "col-md-6 control-label" })
                        <p id="Direccion" class="control-label col"><b>asdasda</b></p>
                        @Html.Label("Nombre Del Lugar", new { @class = "col-md-6 control-label" })
                        <p id="Telefono" class="control-label col"><b>asdasda</b></p>
                        @Html.Label("Direccion", new { @class = "col-md-6 control-label" })
                        <p id="Celular" class="control-label col"><b>asdasda</b></p>
                    </div>
                </div>
            </div><!--Aqui termina el bodycard-->
            <div class="card-footer">
                <div class="container">
                    <div class="col-md-12 clearfix">
                        @Html.ActionLink("Vista Anterior", "Index", null, new { @class = "btn btn-dark" })
                        <input type="submit" value="@(Model.DetalleInscripcion.FechaRindeExamen!=null?"Reasignar Fecha":"Asignar Fecha")" class="btn btn-success " />
                    </div>
                </div>
            </div>
        </div><!--termina la card-->
    @*</div>*@

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(document).ready(function () {
            
            jQuery('#datetimepicker').datetimepicker({
                minDate: 0,
                format: 'd/m/y H:m',
                value: 'd/m/y H:m'
            });
            $.datetimepicker.setLocale('es')

            var model = '@Html.Raw(Model.DatosLugar)';
            var jsonDatosDelegacion = JSON.parse(model);
            $("#LugarExamen").on("change", function () {
                if ($(this).val() != "") {
                    var value = $(this).val();
                    var DeleOfi = "";
                    $.each(jsonDatosDelegacion, function (index, item) {
                        DeleOfi = (item[0] == value) ? item : DeleOfi;
                        if (DeleOfi != "") {
                            return false;
                        }
                    });
                    $("#Direccion b").text(DeleOfi[1]);
                    $("#Telefono b").text(DeleOfi[2]);
                    $("#Celular b").text(DeleOfi[3] == "" ? "-------" : DeleOfi[3]);
                    $("#DatosDelegacion").removeAttr("hidden");
                } else {
                    $("#DatosDelegacion").attr("hidden", true);
                }
            })
        });

    </script>
}
