@model SINU.Models.vUsuariosAdministrativos

<div>
    <h4>Detalle Usuario Administrativo seleccionado</h4>
    <table class="table table-filters" id="le-filters">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Email)
                </th>
                <th>
                    @Html.LabelFor(model => model.Nombre)
                </th>
                <th>
                    @Html.LabelFor(model => model.Apellido)
                </th>
                <th>
                    @Html.LabelFor(model => model.mr)
                </th>
                <th>
                    @Html.LabelFor(model => model.Grado)
                </th>
                <th>
                    @Html.LabelFor(model => model.Destino)
                </th>
                <th>
                    @Html.LabelFor(model => model.Comentario)
                </th>
                <th>
                    @Html.LabelFor(model => model.codGrupo)
                </th>               
                    <th>
                        @Html.DisplayNameFor(model => model.Delegacion)
                    </th>                         
            </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(model => model.mr)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Grado)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Destino)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Comentario)
                </td>


                <td>
                    @Html.DisplayFor(model => model.codGrupo)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Delegacion)
                </td>
                @*<td>
                     @Html.DisplayNameFor(model => model.IdOficinasYDelegaciones)
                </td>

                <td>
                     @Html.DisplayFor(model => model.IdOficinasYDelegaciones)
                </td>*@
            </tr>
        </tbody>
            </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@
    @Html.ActionLink("Editar", "Edit", new { Email = Model.Email })|
    @Html.ActionLink("Volver a la lista", "Index")
</p>
<!-- ***********************************************************************-->
<!-- COPIAR TODO ESTE SCRIPT DE DATATABLE PARA TODAS LAS TABLAS DEL SISTEMA-->
<!-- ***********************************************************************-->
<!--Para establecer Formato de Tabla-->
<!-- Establecer la tabla  <table class="table table-filters" id="le-filters">-->
<!-- Agregar en las columnas que no deseo ordenar  <th class="no-sort"> -->
<!-- Agregar en las columnas que no deseo ordenar ni buscar  <th class="ni-o-ni-bu"> -->
<!-- Rodear la tr de las th con <thead> </thead>-->
<!-- Rodear el contenido de la tabla con <tbody>-->
@section Scripts {
    <script type="text/javascript">
        //scrip que permite buscar por cualquier campo en la tabla para su uso requiere que tabla tenga la propiedad id=myTable
        $(document).ready(function () {
            $(".table-filters").DataTable({
                responsive: true,
                "language":
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },

                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                },
                {
                    "targets": 'ni-o-ni-bu',
                    "searchable": false,
                    "orderable": false

                    }]
            });

        });
    </script>
    }